@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@font-face {
  font-family: 'Poppins';
  src: url(/fonts/Poppins-Regular.ttf);
}

/* ESTILOS GENERALES Y RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Colores para los distintos themes
  Utilizando la propiedad ":has" comprobamos cuál 
  de los chackboxes está marcado y aplicamos los 
  estilos correspondientes
*/
:root {
  --primario: #1d1d1d;
  --primario-claro: #303030;
  --texto: white;
  --texto-nav: white;
  --acento: #FFEA28;
  --title-text: 'Bangers', cursive;
  --border-radius: .5rem
}

:root:has(#superman:checked) {
  --primario: #1b268f;
  --primario-claro: #750b0b;
  --texto: white;
  --texto-nav: white;
  --acento: #FFEA28;
}

:root:has(#lobezno:checked) {
  --primario: rgba(235, 164, 0, 0.658);
  --primario-claro: rgba(235, 164, 0, 1);
  --texto: #131313;
  --texto-nav: white;
  --acento: #0d2cda;
}

:root:has(#hawkeye:checked) {
  --primario: #6c1eb6;
  --primario-claro: #4f149b;
  --texto: hsl(271, 100%, 91%);
  --texto-nav: white;
  --acento: #FFEA28;
}

:root:has(#thor:checked) {
  --primario: #1d1d1d;
  --primario-claro: #750b0b;
  --texto: white;
  --texto-nav: white;
  --acento: #ffda75;
}

:root:has(#hulk:checked) {
  --primario: #206e0c;
  --primario-claro: #4f149b;
  --texto: hsl(0, 0%, 100%);
  --texto-nav: white;
  --acento: #9dff42;
  /* --acento: #FFEA28; */
}

body {
  background-color: var(--primario);
  color: var(--texto);
  font-family: 'Poppins', sans-serif;
  position: relative;
  line-height: 1.6em;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

h1 {
  color: var(--acento);
}

main {
  max-width: 80%;
  min-height: calc(100vh - 80px);
  margin: 0 auto;
}

section {
  padding-bottom: 10rem;
}

h2 {
  font-size: 2.5rem;
  color: var(--acento);
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

a, a:visited {
  color: var(--texto);
}

/* MENÚ DE NAVEGACIÓN */
#barra-nav {
  width: 100vw;
  height: 80px;
  background-color: var(--primario-claro);
  position: fixed;
  z-index: 10;
  top: 0;
}

.sombra {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

nav {
  margin: 0;
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
}

nav > ul {
  list-style: none;
  height: 100%;
}

nav > ul li, nav>ul li a {
  display: block;
  height: 100%;
}

nav > ul li a {
  padding: 2rem 2rem;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background-color .2s ease;
}

nav > ul li a.activo {
  border-bottom: 5px solid var(--acento);
}
nav > ul li a:hover {
  border-bottom: 5px solid var(--acento);
  background-color: var(--primario);
}

#logo-sitio {
  font-family: var(--title-text);
  font-size: 2.5rem;
}

main {
  margin-top: 80px;
  max-width: 80%;
}

/* THEME PICKER */
aside {
  max-width: 6rem;
  position: fixed;
  right: 2rem;
  top: 7rem;
}

#theme-picker > fieldset {
  border: 2px solid var(--acento);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.logo-picker {
  max-width: 3rem;
  max-height: 4rem;
  display: block;
  margin: 0 auto;
}

#theme-picker label {
  cursor: pointer;
  display: block;
  margin-bottom: 1rem;
  position: relative;
  transition: all .25s;
}

#theme-picker label:hover {
  transform: rotate(15deg) scale(1.15);
}

#theme-picker input {
  opacity: 0;
  position: absolute;
  width: 0;
}


/* Sección hero de inicio */
#hero {
  width: 100%;
  padding-top: 4rem;
  
}

#hero .col-izquierda {
  grid-column: auto / span 4;
}

#hero .col-izquierda > img {
  max-width: 100%;
  border-radius: var(--border-radius);
}

#hero .col-derecha {
  grid-column: auto / span 5;
}

#hero h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: var(--acento);
}

.subtitulo {
  font-size: 1.2rem;
  line-height: 1.7em;
  max-width: 80ch;
  margin: 0 auto;
}

#hero .presentacion {
  margin-bottom: 4rem;
}

#noticia-destacada {
  padding: 1.5rem;
  border-radius: var(--border-radius);
  background-color: var(--primario-claro);
}

#noticia-destacada small {
  display: block;
  font-weight: bold;
  font-size: .9rem;
  color: var(--acento);
  margin-bottom: 0.5rem;
}

#noticia-destacada h3 {
  margin-bottom: 1rem;
}

/* Sección de reseñas de inicio */
.wrapper-resenas {
  gap: 4rem;
  padding: 4rem 0;
}

.tarjeta-resena {
  grid-column: auto / span 3;
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
  transition: all .3s ease;
  height: max-content;
  overflow: hidden;
}

.tarjeta-resena-foto {
  border-radius: var(--border-radius);
  object-fit: contain;
  overflow: hidden;
  width: 100%;
}

#ultimas-resenas .tarjeta-resena-foto img{
  width: 100%;
}

.tarjeta-resena-contenido {
  background-color: var(--primario-claro);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: -28%;
  min-height: 245px;
  transition: 0.3s;
}

.tarjeta-resena a {
  text-decoration: none;
  position: relative;
}

.tarjeta-resena:hover {
  transform: scale(1.1);
}

.tarjeta-resena:hover .tarjeta-resena-contenido {
  bottom: 0;
}

.tarjeta-resena-contenido h3 {
  color: var(--acento);
}

.tarjeta-resena-contenido .extracto {
  opacity: 0;
}

.tarjeta-resena:hover .tarjeta-resena-contenido .extracto {
  opacity: 1;
}


.tarjeta-resena .tarjeta-resena-contenido .enlace {
  color: var(--acento);
}


/* ESTILOS DEL FOOTER */
footer {
  background-color: var(--primario-claro);
  padding: 2rem;
}

.footer-wrapper {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.col-redes h4 {
  color: var(--acento);
  margin-bottom: 0.5rem;
}

.col-redes .links-sociales {
  display: flex;
  justify-content: center;
}

.links-sociales a {
  display: inline-block;
  margin: 0 .5rem;
}

.links-sociales a > i {
  font-size: 1.5rem;
  transition: all .2s;
}

.links-sociales a:hover > i {
  transform: rotate(15deg) scale(1.15);
}
/* CABECERA DE PÁGINAS INTERIORES */
.cabecera {
  padding: 2.5rem;
  text-align: center;
}

.cabecera h1 {
  font-size: 3rem;
  color: var(--acento);
  padding-bottom: 1rem;
}

@media screen and (min-width: 600px) {
  #hero {
    display: grid;
      gap: 2rem;
      grid-template-columns: repeat(8, 1fr);
  }

  .wrapper-resenas {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (min-width: 900px) {
  #hero {
      gap: 10rem;
      grid-template-columns: repeat(12, 1fr);
  }

  .wrapper-resenas {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}